:root {
  --button-color : #320032;
  --button-color-hover : #4e004e;
  --button-text-color : #fff;
  --move-counter-background : #00000080;
  --move-counter-text-color : #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .App {
  display: flex;
  flex-direction: column;
} */

canvas {
  display: block;
  margin: auto;
}

button {
  color: var(--button-text-color);
  background-color: var(--button-color);
  border: 0;
  padding: 6px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 1s ease-in-out, box-shadow 1s ease-in-out;
}

button:hover {
  background-color: var(--button-color-hover);
  transition: background-color 1s ease-in-out, box-shadow 1s ease-in-out;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/* MOVE COUNTER  */

.move-counter {
  position: absolute;
  color : var(--move-counter-text-color);
  left: 40%;
  top: 60px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #fff;
  width: 20%;
  padding: 2px;
  background-color: var(--move-counter-background);
}

.move-counter:first-child {
  font-weight: bold;
}

/* DIALOG  */

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha (last value) for transparency */
  z-index: 100; /* Ensure the overlay appears on top of other elements */
}


.message-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 10px;
  top: 100px;
  margin: auto;
  padding: 20px;
  text-align: center;
  z-index: 200;
  width: 50%;
  background: #fff;
}

.message-box * {
  margin: 10px;
}

.message-box .btn {
  width: 50%;
}